@charset "UTF-8";

/*
    Cores:
    Roxo: #593954
    Verde escuro azulado: #013440
    Verde azulado: #026873

*/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color:#013440;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #593954;
    color: white;
    padding: 10px;
}

header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px dotted black;
}

header nav {
    border: 1px dotted black;
}

main {
    background-color:#026873;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.39);

}

main h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
}

main p {
    margin-top: 10px;
    text-align: justify;
    text-indent: 25px;
    color: white;
}

footer {
    background-color: #593954;
    width: 300px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}

footer p {
    color: white;
    font-style: italic;
    padding: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.363);
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}